<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainer App </title>

    <link th:href="@{/css/main.css}" type="text/css" rel="stylesheet">
</head>
<body>


<nav>
    <ul class="nav_links">
        <li><a th:href="@{/}" class="btn">Menu</a></li>
        <li><a th:href="@{/diet}" class="btn">Diet List</a></li>
        <li><a th:href="@{/exercises}" class="btn">Exercises List</a></li>
        <li><a th:href="@{/login}"><button id="redirect-sign-up">Log out</button></a></li>
    </ul>
</nav>



    <div class="add-user-2">
        <p>Enter your personal details:</p>
        <form  th:object="${trainerDetails}" action="#" th:action="@{/process-trainer-form}" method="POST">
            <input type="text" placeholder="First name"
                   id="firstName" th:field="*{firstName}">
            <input type="text" placeholder="Last name"
                   id="lastName" th:field="*{lastName}">
            <input type="tel" placeholder="Phone number"
                   id="phoneNumber" th:field="*{phoneNumber}">
            <input type="text" placeholder="Description"
                   id="description" th:field="*{description}">
        <br/><br/>
        <button type="submit" class="button-submit">Continue</button>
    </form>
</div>
</body>
</html>