<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="css/fontello.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
        <title>My diet</title>
    </head>
    <body>
        <div class="popup" id="popup-1">
            <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup()">&times;</div>
                <div id="searching-dish">
                    <h2>Search for dish</h2>
                    <div id="search-bar"><input type="text" placeholder="dish name" id="seach-dish-name"><button id="search-dish-btn">Search</button></div>
                    <form th:action="@{/diet}" method="post">
                        <div id="dish-results">

                        </div>
                        <div class="add-dish-bar"><input type="number" min="0" step="50" style="width: 50px;" th:name="seach-dish-amount">g <button onclick="togglePopup()" type="submit">Add dish</button></div>
                    </form>


                </div>
                <div id="custom-dish">
                    <h2>Custom dish</h2>
                    <form th:action="@{/diet/custom}" method="post" th:object="${dish}">
                        <div style="margin-top: 70px;"><input type="text" placeholder="Dish name" th:field="*{name}" id="dish-name" th:name="dish-name"></div>
                        <div class="custom-dish-number"><label>Callories in 100g <input type="number" style="width: 30px;" th:field="*{kcal}" id="dish-kcal" th:name="kcal"></label></div>
                        <div class="custom-dish-number"><label>Proteins in 100g <input type="number" style="width: 30px;" th:field="*{protein}" id="dish-protein" th:name="protein"></label></div>
                        <div class="custom-dish-number"><label>Carbs in 100g <input type="number" style="width: 30px;" th:field="*{carbon}" id="dish-carbon" th:name="carbon"></label></div>
                        <div class="custom-dish-number"><label>Fats in 100g <input type="number" style="width: 30px;" th:field="*{fat}" id="dish-fat" th:name="fat"></label></div>
                        <div class="add-dish-bar" style="margin-top: 185px;"><input type="number" min="0" step="50" style="width: 50px;" th:field="*{amount}" id="dish-amount" th:name="amount">g <button type="submit" onclick="togglePopup()">Add dish</button></div>
                    </form>
                </div>

            </div>
        </div>

        <div id="logo">
            <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-tennis"></i>
                    <i class="demo-icon icon-swimming"></i>
                </span>
            </div>
            <span id="app-name">Welcome to your TrainingApp</span>
            <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-skiing"></i>
                    <i class="demo-icon icon-soccer"></i>
                </span>
            </div>
        </div>
        <div class="training-menu">
            <form th:action="@{/diet/new-day}" method="post"><button type="submit" class="plus" style="float:none">New day</button></form>
        </div>

        <div class="diet-day" th:each="dietDay: ${dietList}">
            <div id="date" th:text="${dietDay.getDate()}"></div>
            <div class="diet-number" style="background-color: blue">Calories: <span th:text="${dietDay.getKcal()}"></span>kcal</div>
            <div class="diet-number" style="background-color: green">Carbs: <span th:text="${dietDay.getCarbs()}"></span>g</div>
            <div class="diet-number" style="background-color: yellow">Fats: <span th:text="${dietDay.getFats()}"></span>g</div>
            <div class="diet-number" style="background-color: red">Proteins: <span th:text="${dietDay.getProteins()}"></span>g</div>
            <div class="dish">
                <div class="dish-info">French fries</div>
                <div class="dish-info">500g</div>
                <div class="dish-remove"><input type="button" value="Remove"></div>
            </div>
            <div class="dish">
                <div class="dish-info">Spaghetti</div>
                <div class="dish-info">300g</div>
                <div class="dish-remove"><input type="button" value="Remove"></div>
            </div>
            <div id="diet-bar">
                <div class="dish-button"><button onclick="togglePopup()" class="add-dish-popup-btn">Add dish</button></div>
            </div>
        </div>


        <footer><h4>Made by Dominik Palichleb 2023</h4></footer>
        <script th:src="@{http://code.jquery.com/jquery-latest.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/script.js}"></script>
        <script>
            $("#search-dish-btn").on("click", function(){
                $("#dish-results").load("/diet/search-dish/" + document.getElementById("seach-dish-name").value);
            });
        </script>
    </body>
</html>