<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="css/fontello.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
        <title>My diet</title>
    </head>
    <body>
        <div class="popup" id="popup-1">
            <div class="overlay"></div>
            <div class="content">
                <div class="close-btn" onclick="togglePopup()">&times;</div>
                <div id="searching-dish">
                    <h2>Search for dish</h2>
                    <div id="search-bar"><input type="text" placeholder="dish name" id="seach-dish-name" th:name="seach-dish-name"><button id="search-dish-btn">Search</button></div>
                    <div id="dish-results">
                        <div class="dish-in-search">
                            <h3 style="margin: 2px;">Bread</h3>
                            <h6 style="font-size: 10px; margin: 2px;">in 100g</h6>
                            <div class="dish-numbers-in-search"><span>Calories</span>300 kcal</div>
                            <div class="dish-numbers-in-search"><span>Proteins</span>9 g</div>
                            <div class="dish-numbers-in-search"><span>Carbs</span>13 g</div>
                            <div class="dish-numbers-in-search"><span>Fats</span>20 g</div>
                            <div class="dish-numbers-in-search" style="width: 8%;"><input type="radio" name="dish"></div>
                        </div>
                        <div class="dish-in-search">
                            <h3 style="margin: 2px;">Oil</h3>
                            <h6 style="font-size: 10px; margin: 2px;">in 100g</h6>
                            <div class="dish-numbers-in-search"><span>Calories</span>300 kcal</div>
                            <div class="dish-numbers-in-search"><span>Proteins</span>9 g</div>
                            <div class="dish-numbers-in-search"><span>Carbs</span>13 g</div>
                            <div class="dish-numbers-in-search"><span>Fats</span>20 g</div>
                            <div class="dish-numbers-in-search" style="width: 8%;"><input type="radio" name="dish"></div>
                        </div>
                    </div>
                    <div class="add-dish-bar"><input type="number" min="0" step="50" style="width: 50px;">g <button onclick="togglePopup()">Add dish</button></div>
                </div>
                <div id="custom-dish">
                    <h2>Custom dish</h2>
                    <form th:action="@{/diet/custom}" method="post">
                        <div style="margin-top: 70px;"><input type="text" placeholder="Dish name" th:value="${dish.getName()}" id="dish-name" th:name="dish-name"></div>
                        <div class="custom-dish-number"><label>Callories in 100g <input type="number" style="width: 30px;" th:value="${dish.getKcal()}" id="dish-kcal" th:name="kcal"></label></div>
                        <div class="custom-dish-number"><label>Proteins in 100g <input type="number" style="width: 30px;"th:value="${dish.getProtein()}" id="dish-protein" th:name="protein"></label></div>
                        <div class="custom-dish-number"><label>Carbs in 100g <input type="number" style="width: 30px;"th:value="${dish.getCarbon()}" id="dish-carbon" th:name="carbon"></label></div>
                        <div class="custom-dish-number"><label>Fats in 100g <input type="number" style="width: 30px;"th:value="${dish.getFat()}" id="dish-fat" th:name="fat"></label></div>
                        <div class="add-dish-bar" style="margin-top: 185px;"><input type="number" min="0" step="50" style="width: 50px;"th:value="${dish.getAmount()}" id="dish-amount" th:name="amount">g <button type="submit" onclick="togglePopup()">Add dish</button></div>
                    </form>
                </div>

            </div>
        </div>

        <div id="logo">
            <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-tennis"></i>
                    <i class="demo-icon icon-swimming"></i>
                </span>
            </div>
            <span id="app-name">Welcome to your TrainingApp</span>
            <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-skiing"></i>
                    <i class="demo-icon icon-soccer"></i>
                </span>
            </div>
        </div>

        <div class="diet-day">
            <div id="date">Today</div>
            <div class="diet-number" style="background-color: blue">Calories: 0kcal</div>
            <div class="diet-number" style="background-color: green">Carbs: 0g</div>
            <div class="diet-number" style="background-color: yellow">Fats: 0g</div>
            <div class="diet-number" style="background-color: red">Proteins: 0g</div>
            <div class="dish">
                <div class="dish-info">French fries</div>
                <div class="dish-info">500g</div>
                <div class="dish-remove"><input type="button" value="Remove"></div>
            </div>
            <div class="dish">
                <div class="dish-info">Spaghetti</div>
                <div class="dish-info">300g</div>
                <div class="dish-remove"><input type="button" value="Remove"></div>
            </div>
            <div id="diet-bar">
                <div class="dish-button"><button onclick="togglePopup()">Add dish</button></div>
                <div class="dish-button"><input type="button" value="Save"></div>
            </div>
        </div>


        <footer><h4>Made by Dominik Palichleb 2023</h4></footer>
        <script th:src="@{http://code.jquery.com/jquery-latest.min.js}" type="text/javascript"></script>
        <script th:src="@{/js/script.js}"></script>
        <script>
            $("#search-dish-btn").on("click", function(){
                $("#dish-results").load("/diet/search-dish/" + document.getElementById("seach-dish-name").value);
            });
        </script>
    </body>
</html>