<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="css/fontello.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
        <title>TrainingApp</title>
    </head>
    <body>
        <div id="logo">
            <div class="logo-icons">
                    <span>
                        <i class="demo-icon icon-tennis"></i>
                        <i class="demo-icon icon-swimming"></i>
                    </span>
            </div>
            <span id="app-name">Welcome to your TrainingApp</span>
            <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-skiing"></i>
                    <i class="demo-icon icon-soccer"></i>
                </span>
            </div>
        </div>
        <div id="container">
            <a th:href="@{/diet}"><div class="home-button">Diet</div></a>
            <a th:href="@{/training}"><div class="home-button">Training</div></a>
        </div>
        <footer><h4>Made by Dominik Palichleb 2023</h4></footer>
    </body>
</html>