<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="css/fontello.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
        <title>Login</title>
    </head>
    <body>
        <div id="logo">
            <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-tennis"></i>
                    <i class="demo-icon icon-swimming"></i>
                </span>
            </div>
            <span id="app-name">Welcome to your TrainingApp</span>
            <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-skiing"></i>
                    <i class="demo-icon icon-soccer"></i>
                </span>
            </div>
        </div>
        <div id="mid-page">
            <div id="form">
                <div th:if="${param.error}" class="form-item">
                    <div style="color: red; font-size: 14px;">
                        Invalid username or password
                    </div>
                </div>

                <div th:if="${param.logout}" class="form-item">
                    <div style="color: green">
                        You have been logged out
                    </div>
                </div>
                <h2>Login</h2>
                <form action="#" th:action="@{/login}" method="POST">
                    <div class="form-button"><input type="text" id="username" name="username" placeholder="username"></div>
                    <div class="form-button"><input type="password" id="password" name="password" placeholder="password"></div>
                    <div class="form-button"><button type="submit">Log in</button></div>
                    <h3>Don't have account yet?</h3>
                    <div class="form-button"><a th:href="@{/sign-up}"><input type="button" value="Register"></a></div>
                </form>
            </div>
        </div>
        <footer><h4>Made by Dominik Palichleb 2023</h4></footer>
    </body>
</html>