<div class="dish-in-search">
  <h3 style="margin: 2px;">Bread</h3>
  <h6 style="font-size: 10px; margin: 2px;">in 100g</h6>
  <div class="dish-numbers-in-search"><span>Calories</span>300 kcal</div>
  <div class="dish-numbers-in-search"><span>Proteins</span>9 g</div>
  <div class="dish-numbers-in-search"><span>Carbs</span>13 g</div>
  <div class="dish-numbers-in-search"><span>Fats</span>20 g</div>
  <div class="dish-numbers-in-search" style="width: 8%;"><input type="radio" name="dish"></div>
</div>