<div class="dish-in-search" th:each="dish: ${dishList}">
  <h3 style="margin: 2px;" th:text="${dish.name}"></h3>
  <h6 style="font-size: 10px; margin: 2px;">in 100g</h6>
  <div class="dish-numbers-in-search"><span>Calories</span><span th:text="${dish.kcal}"></span> kcal</div>
  <div class="dish-numbers-in-search"><span>Proteins</span><span th:text="${dish.protein}"></span> g</div>
  <div class="dish-numbers-in-search"><span>Carbs</span><span th:text="${dish.carbon}"></span> g</div>
  <div class="dish-numbers-in-search"><span>Fats</span><span th:text="${dish.fat}"></span> g</div>
  <div class="dish-numbers-in-search" style="width: 8%;"><input type="radio" th:value="${dish.name}" name="dish"  th:name="seach-dish-name"></div>
</div>