<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link th:href="@{/css/style.css}" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="css/fontello.css" type="text/css" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
        <title>My training</title>
    </head>
    <body>
        <div id="logo">
            <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-tennis"></i>
                    <i class="demo-icon icon-swimming"></i>
                </span>
            </div>
            <span id="app-name">Welcome to your TrainingApp</span>
            <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-skiing"></i>
                    <i class="demo-icon icon-soccer"></i>
                </span>
            </div>
        </div>
        <div class="training-menu">
            <form th:action="@{/training}" method="post"><button type="submit" class="plus" style="margin-right: 50px;">New session</button></form>
            <a th:href="@{/training/exercises}"><div class="plus">My exercises</div></a>
        </div>
        <div id="training-sessions" th:each="trainingSession: ${trainingSessionList}">
            <div class="one-training-session">
                <h2 style="margin: 8px;" th:text="${trainingSession.getName()}"></h2>
                <div class="exercise" th:each="exercise: ${trainingSession.getExercises()}">
                    <div class="exercise-info" th:text="${exercise.getName()}"></div>
                    <div class="exercise-info"><span th:text="${exercise.getReps()}"></span> <span th:text="${exercise.getUnit()}"></span></div>
                    <div class="exercise-info"><span th:text="${exercise.getValue()}"></span> <span th:text="${exercise.getSecondUnit()}"></span></div>
                    <div class="exercise-info">
                        <form th:action="@{/training/add-log}" method="post" th:object="${toExerciseLog}">
                            <input type="hidden" th:field="*{name}" th:value="${exercise.getName()}">
                            <input type="hidden" th:field="*{unit}" th:value="${exercise.getUnit()}">
                            <input type="hidden" th:field="*{secondUnit}" th:value="${exercise.getSecondUnit()}">
                            <input type="hidden" th:field="*{value}" th:value="${exercise.getValue()}">
                            <input type="hidden" th:field="*{reps}" th:value="${exercise.getReps()}">
                            <button type="submit">Add to log</button>
                        </form>

                    </div>
                </div>
                <div style="width: 80px; margin-left: auto; margin-right: auto;">
                    <a th:href="@{/training/session/{name}(name = ${trainingSession.getName()})}"><div class="exercise-edit-btn">Edit</div></a>
                </div>
            </div>
        </div>


        <footer><h4>Made by Dominik Palichleb 2023</h4></footer>
    </body>
</html>