<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="style.css">
    <link rel="stylesheet" href="css/fontello.css" type="text/css" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Cabin+Sketch&display=swap" rel="stylesheet">
    <title>My training</title>
</head>
<body>
<div class="popup" id="popup-1">
    <div class="overlay"></div>
    <div class="content">
        <div class="close-btn" onclick="togglePopup()">&times;</div>
        <h2>Search for exercise</h2>
        <div id="search-bar"><input type="text" placeholder="exercise name"><button>Search</button></div>
        <div id="exercise-results">
            <div class="exercise-in-search">
                <label>Squat <input type="radio" name="dish"></label>

            </div>
            <div class="exercise-in-search">
                <label>Bench press <input type="radio" name="dish"></label>

            </div>
        </div>
        <div id="add-dish-bar">
            <input type="number" min="0" step="50" style="width: 50px;" value="0"> reps
            <input type="number" min="0" step="50" style="width: 50px;" value="0"> kg
            <button onclick="togglePopup()">Add exercise</button>
        </div>
    </div>
</div>

<div id="logo">
    <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-tennis"></i>
                    <i class="demo-icon icon-swimming"></i>
                </span>
    </div>
    <span id="app-name">Welcome to your TrainingApp</span>
    <div class="logo-icons">
                <span>
                    <i class="demo-icon icon-skiing"></i>
                    <i class="demo-icon icon-soccer"></i>
                </span>
    </div>
</div>
<div id="training-sessions">
    <div class="one-training-session">
        <h2 style="margin: 8px;"><input type="text" value="Training day 1" placeholder="Name of session"></h2>
        <div class="exercise">
            <div class="exercise-info">Bench press</div>
            <div class="exercise-info"><input class="exercise-edit-input" type="number"> reps</div>
            <div class="exercise-info"><input class="exercise-edit-input" type="number"> kg</div>
            <div class="exercise-info"><button style="color: red;">Remove</button></div>
        </div>
        <div class="exercise">
            <div class="exercise-info">Squat</div>
            <div class="exercise-info"><input class="exercise-edit-input" type="number"> reps</div>
            <div class="exercise-info"><input class="exercise-edit-input" type="number"> kg</div>
            <div class="exercise-info"><button style="color: red;">Remove</button></div>
        </div>
        <div style="clear:both; margin-top: 10px;">
            <button onclick="togglePopup()">Add exercise</button>
            <button>Save</button>
        </div>

    </div>

</div>


<footer><h4>Made by Dominik Palichleb 2023</h4></footer>
<script src="script.js"></script>
</body>
</html>